<div class="mdl-layout__drawer mdl-color-text--black">
    <span class="mdl-layout-title mdl-color-text--black">MinMeny</span>
    <nav class="mdl-navigation mdl-color-text--black">
        <a class="mdl-navigation__link" href="http://apps.t-fk.no/ansatte/" target="_blank"><span class="material-icons">group</span>&nbsp;Ansattsøk</a>
        <a class="mdl-navigation__link" href="https://epost.vfk.no" target="_blank"><span class="material-icons">email</span>&nbsp;E-post</a>
        <a class="mdl-navigation__link" href="/styringsinformasjon"><span class="material-icons">poll</span>&nbsp;Styringsinformasjon</a>
        <a class="mdl-navigation__link" href="https://rom.t-fk.no/Arbeidsrom/Sider/default.aspx" target="_blank"><span class="material-icons">business_center</span>&nbsp;Arbeidsrom</a>
    </nav>
</div>