webserver:
  # image: telemark/portalen
  build: .
  environment:
    SERVER_PORT_WEB: 80
    DB_CONNECTION_PROFILE: mongodb://profileserver/portalen
    DB_CONNECTION_MESSAGE: mongodb://messageserver/portalen
    # BUDDY_API_URL: https://api.buddy.com
    # CALLBACK_STATUS_URL: https://api.buddy.com/status
    # TEMPLATER_SERVICE_URL: https://pdftemplater.service.example.com
    JWT_SECRET: "Louie Louie, oh no, I got to go Louie Louie, oh no, I got to go"
    COOKIE_SECRET: "Louie Louie, oh no, I got to go Louie Louie, oh no, I got to go"
    GITHUB_FEEDBACK_URL: "https://api.github.com/repos/:user/:repo/issues"
    GITHUB_USER: "yourgithubuser"
    GITHUB_TOKEN: "yourgithubtoken"
    LDAP_URL: "ldap://ldap.forumsys.com:389"
    LDAP_BIND_DN: "cn=read-only-admin,dc=example,dc=com"
    LDAP_BIND_CREDENTIALS: "password"
    LDAP_SEARCH_BASE: "dc=example,dc=com"
    LDAP_SEARCH_FILTER: "(uid={{username}})"
    # LDAP_TLS_SETTINGS: 1
    # LDAP_TLS_REJECT_UNAUTHORIZED: true
    # LDAP_TLS_CA_PATH: secretpath/secretfile.cer
  ports:
    - "80:80"
  links:
   - profileserver
   - messageserver
profileserver:
  image: mongo:3.2.1
  environment:
    DB: portalen
    COLLECTION: profiles
messageserver:
  image: mongo:3.2.1
  environment:
    DB: portalen
    COLLECTION: messages
