<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>{{systemName}} v{{version}} - {{versionName}}</title>
<!-- Core CSS -->
<link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
<script src="/public/js/compatibility.js"></script>
<!-- Custom CSS -->
<link href="/public/css/custom.css" rel="stylesheet">

<link rel="icon" type="image/x-icon" href="/public/images/icons/favicon.ico" />
<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=no' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title mdl-color-text--black">{{systemName}}</span>
            <span class="mdl-color-text--black margin-left-20">{{credentials.data.cn}}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link mdl-navigation__link--icon mdl-color-text--black" href="/"><span id="homepageLink" class="material-icons">home</span></a>
                <div class="mdl-tooltip mdl-tooltip--large" for="homepageLink">Til forsiden</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon mdl-color-text--black" href="/feedback"><span id="feedbackPageLink" class="material-icons">inbox</span></a>
                <div class="mdl-tooltip mdl-tooltip--large" for="feedbackPageLink">Gi tilbakemelding</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon mdl-color-text--black" href="/help"><span id="helppageLink" class="material-icons">help_outline</span></a>
                <div class="mdl-tooltip mdl-tooltip--large" for="helppageLink">Til hjelpesiden</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon mdl-color-text--black" href="/settings"><span id="logpageLink" class="material-icons">settings</span></a>
                <div class="mdl-tooltip mdl-tooltip--large" for="logpageLink">Til innstillinger</div>
                <a class="mdl-navigation__link mdl-navigation__link--icon mdl-color-text--black" href="/logout"><span id="logoutLink" class="material-icons">power_settings_new</span></a>
                <div class="mdl-tooltip mdl-tooltip--large" for="logoutLink">Logg ut av {{systemName}}</div>
            </nav>
        </div>
    </header>
    {{>menu-side}}
    <main class="mdl-layout__content">
        <div>
            {{{content}}}
        </div>
    </main>
    <div class="mdl-snackbar mdl-js-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action"></button>
    </div>
</div>
<!-- Helper script -->
<script defer src="/public/js/snackbar-trigger.js"></script>
</body>
</html>