<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
        <p class="fontBigger">
            Det er laget en kort <a href="https://www.youtube.com/watch?v=EaphC5gz8fU" target="_blank" title="Se opplæringsvideoen på YouTube">opplæringsvideo</a> du kan se på YouTube.
        <p/>
        <p class="fontBigger">
            Nedenfor finner du en forklaring på ikoner og statuser.
        </p>
        <p class="fontBigger">
            Har du andre problemer ta kontakt med <a href="mailto:tormod.beichmann@t-fk.no" title="Send e-post til Tormod Beichmann" target="_blank">Tormod Beichmann</a>
        </p>
        <p class="fontBigger">
            Tips, innspill og ønsker om forbedringer sendes til <a href="mailto:vanja.valjord.christensen@t-fk.no" title="Send e-post til Vanja Valjord Christensen" target="_blank">Vanja Valjord Christensen</a>
        </p>
    </div>
    <div class="mdl-cell mdl-cell--3-col"></div>
    <div class="mdl-cell mdl-cell--3-col"></div>
    <table class="mdl-data-table mdl-js-data-table mdl-cell--6-col mdl-cell--8-col-tablet mdl-shadow--2dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Ikon/Valg</th>
            <th class="mdl-data-table__cell--non-numeric">Funksjon</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric" colspan="2">
                <strong>Navigasjon</strong>
            </td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">home</i></td>
            <td class="mdl-data-table__cell--non-numeric">Til forsiden</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">help_outline</i></td>
            <td class="mdl-data-table__cell--non-numeric">Hjelp (denne siden)</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">list</i></td>
            <td class="mdl-data-table__cell--non-numeric">Aktivitetslogg</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">power_settings_new</i></td>
            <td class="mdl-data-table__cell--non-numeric">Avslutt/Logg ut av {{systemName}}</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric" colspan="2">
                <strong>Søkeresultat</strong>
            </td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">list</i></td>
            <td class="mdl-data-table__cell--non-numeric">Vis aktivitetslogg for eleven</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">note_add</i></td>
            <td class="mdl-data-table__cell--non-numeric">Skriv varsel for eleven</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric" colspan="2">
                <strong>Logglisten</strong>
            </td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">list</i></td>
            <td class="mdl-data-table__cell--non-numeric">Vis aktivitetslogg for eleven</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">note_add</i></td>
            <td class="mdl-data-table__cell--non-numeric">Skriv varsel for eleven</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric" colspan="2">
                <strong>Produsere varsel</strong>
            </td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">delete</i></td>
            <td class="mdl-data-table__cell--non-numeric">Slette/forkaste varsel</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">description</i></td>
            <td class="mdl-data-table__cell--non-numeric">Forhåndsvis varsel</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">cloud_download</i></td>
            <td class="mdl-data-table__cell--non-numeric">Vennligst vent. Forhåndsvisningen genereres</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">close</i></td>
            <td class="mdl-data-table__cell--non-numeric">Lukk forhåndsvisningen</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><i class="material-icons">mail_outline</i></td>
            <td class="mdl-data-table__cell--non-numeric">Send varsel til distribusjon</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric" colspan="2">
                <strong>Statuser</strong>
            </td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">I kø</td>
            <td class="mdl-data-table__cell--non-numeric">Varselet ligger klar til å behandles i MinElev</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Til behandling</td>
            <td class="mdl-data-table__cell--non-numeric">Varselet er hentet ut av køen. Varselbrev genereres og adresser slås opp.</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Varselbrev produsert</td>
            <td class="mdl-data-table__cell--non-numeric">Varselet er produsert og venter på distribusjon.</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Sendt via SvarUt</td>
            <td class="mdl-data-table__cell--non-numeric">Varselet er sendt til elev (og eventuelt foreldre) via SvarUt</td>
        </tr>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Sendt til manuell distribusjon</td>
            <td class="mdl-data-table__cell--non-numeric">Varselet kunne ikke sendes via SvarUt så det må håndteres manuelt</td>
        </tr>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Arkivert</td>
            <td class="mdl-data-table__cell--non-numeric">Varselet er arkivert i 360</td>
        </tr>
        </tbody>
    </table>
    <div class="mdl-cell mdl-cell--3-col"></div>
</div>